REACT_APP_PINATA_KEY = #pinata key
REACT_APP_PINATA_SECRET = #pinata secret
REACT_APP_PINATA_JWT = #pinata jwt key
REACT_APP_ALCHEMY_KEY = #alchey api key
REACT_APP_ALCHEMY_URL = #alcehmy http url

REACT_APP_BACKEND_URL = #backendurl

CONTRACT_ADDRESS = #factory contract address
MARKET_ADDRESS = #market contract address