REACT_APP_BACKEND_URL = xxxxxxxxxxxx //backendurl
CONTRACT_ADDRESS = xxxxxxxxxxxx //factory contract address
MARKET_ADDRESS = xxxxxxxxxxxx //markt contract address

REACT_APP_ALCHEMY_KEY = xxxxxxxxxxxx //alcehmy key
REACT_APP_ALCHEMY_URL = xxxxxxxxxxxx //alcehmy url
